/* ============= index.css =========== */

body {
  background-color: #000000;
  color: #eeeeee;
}

#divMain {
  text-align: center;
  overflow: hidden;
}

#divTitle {
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

#divSubTitle {
  text-align: center;
  font-size: 18px;
}

#divFooter {
  text-align: center;
  font-size: 15px;
  margin: auto;
  margin-top: 20px;
}

#divFooter a {
  color: #ff0000;
}

#divJSCarousel {
  background-color: #aaaaaa;
  margin: auto;
  width: 900px;
  height: 522px;
  padding: 5px;
}
